<div class='performance'>
  <div class='constellation-index'>
    <div class='constellation-link-group' data-destination='back-layer'>
      <% first_third(@performers).each do |person| %>
        <h3><%= link_to person[:name], performer_path(person[:simple_name]) %></h3>
      <% end %>
    </div>
    <div class='constellation-link-group' data-destination='middle-layer'>
      <% middle_third(@performers).each do |person| %>
        <h3><%= link_to person[:name], performer_path(person[:simple_name]) %></h3>
      <% end %>
    </div>
    <div class='constellation-link-group' data-destination='front-layer'>
      <% last_third(@performers).each do |person| %>
        <h3><%= link_to person[:name], performer_path(person[:simple_name]) %></h3>
      <% end %>
    </div>
  </div>
</div>
