<div class='location'>
  <a href="{{ .Site.Params.location_link }}" target="_blank">
    <%= fa_icon('map-marker') %>
    5233'20.3"N 13°24'53.3"E (WBB Berlin)
  </a>
</div>
<div class='exhibition-details'>
  <a href="https://www.facebook.com/events/1971295013128156/" target="_blank">
    Exhibition opening 16.09.2017, 6pm
    <%= fa_icon('external-link') %>
  </a>
</div>
<div class='closing-party-details'>
  <a href="https://www.facebook.com/events/871289369694040/" target="_blank">
    Kepler 452b Launch 23.09.2017, 8pm doors open
    <%= fa_icon('external-link') %>
  </a>
</div>
<div class='mail-link'>
  <a href="mailto:info@kepler452b.org">
    <%= fa_icon('envelope') %>
    info@kepler452b.org
  </a>
</div>
