<div class='header'>
  <div class='header-inner'>
    <a href='/' class='logo'><img src="/images/kepler_circle_logo_nasa.png" /></a>
    <div class='hamburger'>
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
  </div>
</div>

<div class='nav-container'>
  <div class='grid-item home label'>
    <a href="{{ .Site.Params.index_path }}">home</a>
  </div>
  <div class='grid-item home icon'>
    <a href="{{ .Site.Params.index_pat }}">fa_icon('home')</a>
  </div>
  <div class='grid-item about label'>
    <a href="{{ .Site.Params.about_path }}">about</a>
  </div>
  <div class='grid-item about icon'>
    <a href="{{ .Site.Params.about_path }}">fa_icon('info-circle')</a>
  </div>
  <div class='grid-item program label'>
    <a href="{{ .Site.Params.program_path }}">program</a>
  </div>
  <div class='grid-item program icon'>
    <a href="{{ .Site.Params.program_path }}">fa_icon('calendar')</a>
  </div>
  <div class='grid-item location label'>
    <a href="{{ .Site.Params.location_link }}" target='_blank'>location</a>
  </div>
  <div class='grid-item location icon'>
    <a href="{{ .Site.Params.location_link }}" target='_blank'>fa_icon('map-marker')</a>
  </div>
  <div class='grid-item tickets label'>
    <a href="{{ .Site.Params.resident_advisor_path }}" target='_blank'> tickets</a>
  </div>
  <div class='grid-item tickets icon'>
    <a href="{{ .Site.Params.resident_advisor_path }}" target='_blank'>fa_icon('ticket')</a>
  </div>
  <div class='grid-item instagram label'>
    <a href="{{ .Site.Params.instagram_path }}" target='_blank'>instagram</a>
  </div>
  <div class='grid-item instagram icon'>
    <a href="{{ .Site.Params.instagram_path }}" target='_blank'>fa_icon('instagram')</a>
  </div>
  <div class='grid-item facebook label'>
    <a href="{{ .Site.Params.facebook_path }}" target='_blank'>facebook</a>
  </div>
  <div class='grid-item facebook icon'>
    <a href="{{ .Site.Params.facebook_path }}" target='_blank'>fa_icon('facebook-square')</a>
  </div>
</div>

<div class='overlay'></div>
