<div class='header'>
  <div class='header-inner'>
    <a href='/' class='logo'><img src="/images/kepler_circle_logo_nasa.png" /></a>
    <div class='hamburger'>
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
  </div>
</div>

<div class='nav-container'>
  <div class='grid-item home label'>
    <a href="/">home</a>
  </div>
  <div class='grid-item home icon'>
    <a href="/">
      <i class="fa fa-home"></i></a>
  </div>
  <div class='grid-item about label'>
    <a href="/about">about</a>
  </div>
  <div class='grid-item about icon'>
    <a href="/about">
      <i class="fa fa-info-circle"></i></a>
  </div>
  <div class='grid-item program label'>
    <a href="/about/program">program</a>
  </div>
  <div class='grid-item program icon'>
    <a href="/about/program">
      <i class="fa fa-calendar"></i></a>
  </div>
  <div class='grid-item location label'>
    <a href="{{ .Site.Params.location_link }}" target='_blank'>location</a>
  </div>
  <div class='grid-item location icon'>
    <a href="{{ .Site.Params.location_link }}" target='_blank'>
      <i class="fa fa-map-marker"></i></a>
  </div>
  <div class='grid-item tickets label'>
    <a href="{{ .Site.Params.resident_advisor_path }}" target='_blank'> tickets</a>
  </div>
  <div class='grid-item tickets icon'>
    <a href="{{ .Site.Params.resident_advisor_path }}" target='_blank'>
      <i class="fa fa-ticket"></i></a>
  </div>
  <div class='grid-item instagram label'>
    <a href="{{ .Site.Params.instagram_path }}" target='_blank'>instagram</a>
  </div>
  <div class='grid-item instagram icon'>
    <a href="{{ .Site.Params.instagram_path }}" target='_blank'>
      <i class="fa fa-instagram"></i></a>
  </div>
  <div class='grid-item facebook label'>
    <a href="{{ .Site.Params.facebook_path }}" target='_blank'>facebook</a>
  </div>
  <div class='grid-item facebook icon'>
    <a href="{{ .Site.Params.facebook_path }}" target='_blank'>
      <i class="fa fa-facebook-square"></i></a>
  </div>
</div>

<div class='overlay'></div>
