<div class='splash'>
  <div id="socialmedia1">
    <a href="https://www.facebook.com/kepler452b.org" target='_blank'><img src="/images/facebook-icon.png" /></a>
  </div>
  <div id="socialmedia2">
    <a href="https://www.instagram.com/kp452b/" target='_blank'><img src="/images/instagram-icon.png" /></a>
  </div>
  <div id="logo">
    <img src="/images/kepler452b.png" alt="Kepler452b.org" />
  </div>
  <div id="location">
    <a href="https://www.google.de/maps/place/52%C2%B033'20.3%22N+13%C2%B024'53.3%22E" target="_blank">
      <img src="/images/gps_date.png" />
    </a>
  </div>
</div>
