<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <base href="{{ $.Site.BaseURL }}">
    <title>{{ $.Site.Title }}</title>
    <link rel="stylesheet" href="css/main.css"/>
  </head>
  <body>
    <div class='container'>

      {{ block "header" . }}
        {{ partial "header" . }}
      {{end}}

      <div id="scene" data-pointer-events='true'>
        {{ partial "stars" . }}

        <div class="back-layer link-layer layer" data-depth="0.80"></div>
        <div class="middle-layer link-layer layer" data-depth="0.90"></div>
        <div class="front-layer link-layer layer" data-depth="1.0"></div>

        <div data-pjax-container>
          {{ block "main" . }}

          {{end}}
        </div>

      </div>

      {{ block "footer" . }}
        {{ partial "footer" . }}
      {{end}}

    </div>

    <script src="app.js"></script>

  </body>
</html>
