<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="kepler 452b Berlin Party Collective">
    <meta name="keywords" content="Berlin,party,art,performance,experimental,techno,Music,kepler 452b,dreamers,collective,collective action,autonomy,artists">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <base href="{{ $.Site.BaseURL }}">
    <title>{{ $.Site.Title }}</title>
    <link rel="stylesheet" href="css/main.css"/>
  </head>
  <body>
    <div class='container'>
      {{ block "splash" . }}
      {{ end }}

      {{ block "header" . }}
        {{ partial "header" . }}
      {{end}}

      <div id="scene" data-pointer-events='true'>
        {{ partial "stars" . }}

        <div class="js-Pjax">
          {{ block "main" . }}

          {{end}}
        </div>

      </div>

      {{ block "footer" . }}
        {{ partial "footer" . }}
      {{end}}

    </div>

    <script src="app.js"></script>

  </body>
</html>
