.bio-item {
  .top-row {
    display: flex;
    margin-top: 25px;
    @media (max-width: $mobileWidth) {
      margin-top: $mobileHorizontalMargin;
    }
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .top-row-item-1 {
    @media (min-width: 1250px) {
      width: 75%;
    }
  }
  .row-1 {
    display: flex;
    margin-bottom: 25px;
    @media (max-width: $mobileWidth) {
      margin-bottom: $mobileHorizontalMargin;
    }
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .back-button-row {
    display: flex;
    flex-flow: row nowrap;
  }
  .photo {
    min-width: 350px;
    max-width: 450px;
    height: auto;
    img {
      height: auto;
      width: 100%;
    }
    @media (max-width: 950px) {
      min-width: 200px;
      max-width: 300px;
    }
    @media (max-width: $mobileWidth) {
      min-width: 100px;
      max-width: 200px
    }
  }
  .personal-details {
    margin: auto 0 auto 25px;
    @media (max-width: $mobileWidth) {
      margin-left: $mobileHorizontalMargin;
    }
    flex-shrink: 2;
  }
  h1.name {
    text-align: unset;
    margin: 0;
    @media (max-width: $tabletWidth) {
      font-size: calc(1.875em + 1vmin);
    }
    @media (max-width: $mobileWidth) {
      font-size: calc(1.5em + 1vmin);
    }
  }
  .web-link {
    word-break: break-all;
  }
  .bio-content {
    white-space: pre-line;
  }
}
