@import "base/variables";

.back-arrow  {
  height: 2em;
  width: 2em;
  position: absolute;
  cursor: pointer;
  pointer-events: all;
  background: $lightGray;
  -webkit-clip-path: polygon(100% 0, 0 50%, 100% 100%);
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
  &:hover {
    background: $logoGradient;
    background-size: 400% 400%;
    animation: gradientFade 2s linear infinite;
  }
}
