@import "base/variables";
@import "base/mixins";

.back-arrow  {
  height: 2em;
  width: 2em;
  cursor: pointer;
  pointer-events: all;
  background: $lightGray;
  -webkit-clip-path: polygon(100% 0, 0 50%, 100% 100%);
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
  &:hover {
    background: $logoGradient;
    background-size: 400% 400%;
    animation: gradientFade 2s linear infinite;
  }
  @media (hover: none) {
    background: $logoGradient;
    background-size: 400% 400%;
    animation: gradientFade 2s linear infinite;
  }
}

.back-text {
  padding-left: 11px;
  height: 30px;
  margin: auto;
  cursor: pointer;
  pointer-events: all;
  color: $lightGray;
  &:hover {
    @include gradient-text($logoGradient);
  }
  @media (hover: none) {
    @include gradient-text($logoGradient);
  }
}
