.welcome {
  .constellation-index {
    display: none;
  }
}

#team {
  @extend h3.row-12 ;
  @extend h3.right-col-4 ;
}
#performance {
  @extend h3.row-6 ;
  @extend h3.right-col-5 ;
}
#designers {
  @extend h3.row-9 ;
  @extend h3.left-col-5 ;
}
#music {
  @extend h3.row-3 ;
  @extend h3.left-col-2 ;
}

.about {
  .main-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 25px;
    @media (max-width: $mobileWidth) {
      margin-top: $mobileHorizontalMargin;
    }
  }
  .inner-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    .video-column {
      margin-right: 25px;
      flex-grow: 1;
      display: flex;
      flex-flow: column nowrap;
      @media (max-width: $tabletWidth) {
        width: 100%;
        margin-right: 0;
      }
      .video {
        height: calc(30*1vw);
        min-width: 40vw;
        padding-bottom: 25px;
        @media (max-width: $tabletWidth) {
          height: calc(44*1vw);
        }
      }
    }
  }
  .main-column {
    display: flex;
    flex-flow: column nowrap;
    @media (min-width: 1250px) {
      width: 75%;
    }
    margin: auto 0;
    @media (max-width: $tabletWidth) {
      width: 100%;
    }
    .event-details-column {
      margin-bottom: 25px;
    }
  }

  .below-content-column {
    display: flex;
    flex-flow: column nowrap;
  }
}
