.welcome {
  .constellation-index {
    display: none;
  }
}

#crew {
  @extend .constellation-link.row-12 ;
  @extend .constellation-link.right-col-4 ;
}
#performance {
  @extend .constellation-link.row-6 ;
  @extend .constellation-link.right-col-5 ;
}
#designers {
  @extend .constellation-link.row-9 ;
  @extend .constellation-link.left-col-6 ;
}
#music {
  @extend .constellation-link.row-3 ;
  @extend .constellation-link.left-col-2 ;
}
#about {
  @extend .constellation-link.row-2 ;
  @extend .constellation-link.left-col-9 ;
}
#program {
  @extend .constellation-link.row-14 ;
  @extend .constellation-link.left-col-4 ;
}

.about, .program {
  .main-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 25px;
    @media (max-width: $mobileWidth) {
      margin-top: $mobileHorizontalMargin;
    }
  }
  .inner-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    .video-column {
      margin-right: 25px;
      flex-grow: 1;
      display: flex;
      flex-flow: column nowrap;
      @media (max-width: $tabletWidth) {
        width: 100%;
        margin-right: 0;
      }
      .video {
        height: calc(30*1vw);
        min-width: 40vw;
        padding-bottom: 25px;
        @media (max-width: $tabletWidth) {
          height: calc(44*1vw);
        }
      }
    }
  }
  .main-column {
    display: flex;
    flex-flow: column nowrap;
    @media (min-width: 1250px) {
      width: 75%;
    }
    margin: auto 0;
    @media (max-width: $tabletWidth) {
      width: 100%;
    }
    .event-details-column {
      margin-bottom: 25px;
    }
  }

  .below-content-column {
    display: flex;
    flex-flow: column nowrap;
  }
}

.program {
  .event-details
    .location, .exhibition-details, .closing-party-details, .mail-link {
      padding-bottom: 25px;
    }
  .schedule {
    .section-header {
      text-align: left;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        padding: 10px 0;
      }
    }
  }
}
