.welcome {
  .constellation-index {
    display: none;
  }
}

.about {
  .main-content {
    width: 100%;
    position: absolute;
    top: #{($desktopVerticalMargin*2) + $desktopLogoWidth};
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: unquote("calc(100vh - #{($desktopVerticalMargin*2) + $desktopLogoWidth})");
    pointer-events: all;
    .content-wrapper {
      margin: 0 $desktopHorizontalMargin;
    }
    .team-view, .music-view, .performance-view {
      display: none;
    }
  }

  @media (max-width: $tabletWidth) {
    .main-content {
      height: unquote("calc(100vh - #{($tabletVerticalMargin*2) + $tabletLogoWidth})");
      top: #{($tabletVerticalMargin*2) + $tabletLogoWidth};
      .content-wrapper {
        margin: 0 $tabletHorizontalMargin;
      }
    }
  }

  .main-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 25px;
    @media (max-width: $mobileWidth) {
      margin-top: $mobileHorizontalMargin;
    }
  }
  .inner-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    .video {
      margin-right: 25px;
      margin-bottom: 25px;
      width:500px;
      height: 300px;
      @media (max-width: $tabletWidth) {
        width: 100%;
        margin-right: 0;
      }
      @media (max-width: 350px) {
        height: 170px;
      }
    }
  }
  .main-column {
    display: flex;
    flex-flow: column nowrap;
    @media (min-width: 1250px) {
      width: 75%;
    }
    margin: auto 0;
    @media (max-width: $tabletWidth) {
      width: 100%;
    }
    .event-details-column {
      margin-bottom: 25px;
    }
  }

  .below-content-column {
    display: flex;
    flex-flow: column nowrap;
  }
}
