<div class='name'><%= person[:name] %></div>
<div class='title'><%= person[:title] %></div>
<div class='web_link'><%= person[:web_link] %></div>
<div class='photo'></div>
<div class='bio'><%= person[:bio] %></div>
