<div class='constellation-index'>
  <% people.each_with_index do |person, i| %>
    <%= render partial: 'shared/constellation_link', locals:
      {
        label: person[:name],
        address: Rails.application.routes.url_helpers.send(show_path_method_name, person[:simple_name]),
        destination_layer: ['back-layer', 'middle-layer', 'front-layer'][i % 3],
        link_id: person[:simple_name]
      }
    %>
  <% end %>
</div>
