<div class='index constellation-index'>
  <div class='constellation-link-group' data-destination='back-layer'>
    <h3><%= link_to 'team', team_members_path %></h3>
  </div>
  <div class='constellation-link-group' data-destination='middle-layer'>
    <h3><%= link_to 'performance', performers_path %></h3>
    <h3><%= link_to 'designers', designers_path %></h3>
  </div>
  <div class='constellation-link-group' data-destination='front-layer'>
    <h3><%= link_to 'music', musicians_path %></h3>
  </div>
</div>
