<div class='index constellation-index'>
  <h3 class="row-1" data-destination='back-layer'>
    <%= link_to 'team', team_members_path %>
  </h3>
  <h3 class="row-2" data-destination='middle-layer'>
    <%= link_to 'performance', performers_path %>
  </h3>
  <h3 class="row-3" data-destination='middle-layer'>
    <%= link_to 'designers', designers_path %>
  </h3>
  <h3 class="row-4" data-destination='front-layer'>
    <%= link_to 'music', musicians_path %>
  </h3>
</div>
