<% people.each do |person| %>
  <h1 class='bio-link constellation-link'
    data-target="<%= person[:simple_name] %>"
    style="top:<%= rand(100)/2 %>vh;left:<%= rand(75) %>vw;">
    <%= person[:name] %>
  </h1>
<% end %>
