<div class='header'>
  <div class='header-inner'>
    <%= image_tag 'kepler_circle_logo_nasa.png', class: 'logo' %>
    <div class='header-right'>
      <%= fa_icon 'bars' %>
    </div>
  </div>
</div>
