<div class='header'>
  <div class='header-inner'>
    <%= image_tag 'kepler_circle_logo_nasa.png', class: 'logo' %>
    <div class='hamburger'>
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
  </div>
</div>
