<div class='welcome'>
  <div class='index constellation-index'>
    <h3 id="team" class="constellation-link row-1 col-1" data-destination='back-layer'>
      <%= link_to 'team', team_members_path %>
    </h3>
    <h3 id="performance" class="constellation-link row-2 col-2" data-destination='middle-layer'>
      <%= link_to 'performance', performers_path %>
    </h3>
    <h3 id="designers" class="constellation-link row-3 col-3" data-destination='middle-layer'>
      <%= link_to 'designers', designers_path %>
    </h3>
    <h3 id="music" class="constellation-link row-4 col-4" data-destination='front-layer'>
      <%= link_to 'music', musicians_path %>
    </h3>
  </div>
</div>
