<%= render "cover" %>

<div class='main'>
  <div id="scene" data-pointer-events='true'>
    <div id='stars-small' class='layer' data-depth="0.50" ></div>
    <div id='stars-medium' class='layer' data-depth="1.0"></div>
    <div id='stars-big' class='layer' data-depth="1.50"></div>
    <div class="button-layer layer" data-depth="2">
      <div class='button'>team</div>
      <div class='button'>performance</div>
      <div class='button'>music</div>
    </div> 
  </div>
</div>
