<div class='program'>
  <div class='main-content'>
    <div class='content-wrapper'>
      <div class='main-row'>
        <div class='main-column'>
          <div class='event-details'>
            <div class='location'>
              <%= link_to "https://www.google.de/maps/place/52%C2%B033'20.3%22N+13%C2%B024'53.3%22E", target: "_blank" do %>
                5233'20.3"N 13°24'53.3"E (WBB Berlin)
              <% end %>
            </div>
            <div class='exhibition-details'>Exhibition opening 16.09.2017, 6pm</div>
            <div class='closing-party-details'>Kepler 452b Launch 23.09.2017, 8pm doors open</div>
            <div class='mail-link'><%= link_to 'info@kepler452b.org', 'mailto:info@kepler452b.org' %></div>
          </div>
          <div class='below-content-column'>
            <div class='schedule'>
              <h2 class='schedule-header'>
                LINE UP
              </h3>

              <h3 class='section-header'>
                DJS
              </h3>
              <ul>
                <% @djs.each do |dj| %>
                  <li><%= link_to dj[:full_name], musician_path(dj[:simple_name]) %></li>
                <% end %>
              </ul>

              <h3 class='section-header'>
                PERFORMANCES
              </h3>
              <ul>
                <% @performers.each do |performer| %>
                  <li><%= link_to performer[:full_name], performer_path(performer[:simple_name]) %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
