<div class='program'>
  <div class='main-content'>
    <div class='content-wrapper'>
      <div class='main-row'>
        <div class='main-column'>
          <div class='event-details'>
            <%= render partial: 'shared/event_details' %>
          </div>
          <div class='below-content-column'>
            <div class='schedule'>
              <h2 class='section-header'>
                DJS
              </h2>
              <ul>
                <% @djs.each do |dj| %>
                  <li><%= link_to dj[:full_name], musician_path(dj[:simple_name]) %></li>
                <% end %>
              </ul>
              <h2 class='section-header'>
                PERFORMANCES
              </h2>
              <ul>
                <% @performers.each do |performer| %>
                  <li><%= link_to performer[:full_name], performer_path(performer[:simple_name]) %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
