@import "base/variables";
@import "base/mixins";

// hamburger animation stolen from Rosa:
// https://codepen.io/RRoberts/pen/ZBYaJr
// Thanks!

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  .header-inner {
    margin: $desktopVerticalMargin;
    .logo {
      pointer-events: all;
      width: $desktopLogoWidth;
      cursor: pointer;
      -webkit-transition: opacity 0.5s ease-in;
      -o-transition: opacity 0.5s ease-in;
      transition: opacity 0.5s ease-in;
    }
    .hamburger {
      position: absolute;
      top: 10px;
      right: $desktopVerticalMargin + 5px;
      pointer-events: all;
      .line{
        width: 50px;
        height: 5px;
        background-color: $lightGray;
        display: block;
        margin: 8px auto;
        -webkit-transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
        -o-transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;

      }

      &:hover {
        cursor: pointer;
        .line {
          background: $logoGradient;
          background-size: 400% 400%;
          animation: gradientFade 2s linear infinite;
        }
      }
      @media (hover: none) {
        &:hover {
          .line {
            background: $lightGray
          }
        }
        &.active {
          .line {
            background: $logoGradient;
            background-size: 400% 400%;
            animation: gradientFade 2s linear infinite;
          }
        }
      }

      &.active .line {
        &:nth-child(2){
          opacity: 0;
        }
        &:nth-child(1){
          -webkit-transform: translateY(13px) rotate(45deg);
          -ms-transform: translateY(13px) rotate(45deg);
          -o-transform: translateY(13px) rotate(45deg);
          transform: translateY(13px) rotate(45deg);
        }
        &:nth-child(3){
          -webkit-transform: translateY(-13px) rotate(-45deg);
          -ms-transform: translateY(-13px) rotate(-45deg);
          -o-transform: translateY(-13px) rotate(-45deg);
          transform: translateY(-13px) rotate(-45deg);
        }
      }
    }
  }
}

@media (max-width: $tabletWidth) {
  .header {
    .header-inner {
      margin: $tabletVerticalMargin;
      .logo {
        width: $tabletLogoWidth;
      }
      .header-right {
        color: $lightGray;
        top: 0;
        right: $tabletVerticalMargin;
        font-size: 45px;
      }
    }
  }
}

@media (max-width: $mobileWidth) {
  .header {
    .header-inner {
      margin: $mobileVerticalMargin;
      .header-right {
        top: 0;
        right: $mobileVerticalMargin;
      }
    }
  }
}
