<div class='music'>
  <div class='constellation-index'>
    <div class='constellation-link-group' data-destination='back-layer'>
      <% first_third(@musicians).each do |person| %>
        <%= link_to person[:name], musician_path(person[:simple_name]) %>
      <% end %>
    </div>
    <div class='constellation-link-group' data-destination='middle-layer'>
      <% middle_third(@musicians).each do |person| %>
        <%= link_to person[:name], musician_path(person[:simple_name]) %>
      <% end %>
    </div>
    <div class='constellation-link-group' data-destination='front-layer'>
      <% last_third(@musicians).each do |person| %>
        <%= link_to person[:name], musician_path(person[:simple_name]) %>
      <% end %>
    </div>
  </div>
</div>
