@import "base/variables";

.bio-item {
  display: none;

  .back-arrow {
    position: unset;
  }
  .back-text {
    padding-left: 11px;
    height: 30px;
    margin: auto;
  }
  .row-1 {
    display: flex;
    margin-top: 25px;
    @media (max-width: $mobileWidth) {
      margin-top: $mobileHorizontalMargin;
    }
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .row-1-item-1 {
    margin-bottom: 25px;
    @media (max-width: $mobileWidth) {
      margin-bottom: $mobileHorizontalMargin;
    }
  }
  .row-1-item-2 {
    @media (min-width: 1250px) {
      width: 75%;
    }
  }
  .row-2 {
    display: flex;
    margin-bottom: 25px;
    @media (max-width: $mobileWidth) {
      margin-bottom: $mobileHorizontalMargin;
    }
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .row-3 {
    display: flex;
    flex-flow: row nowrap;
  }
  .photo {
    min-width: 350px;
    height: 350px;
    @media (max-width: 950px) {
      min-width: 200px;
      height: 200px;
    }
    @media (max-width: $mobileWidth) {
      min-width: 100px;
      height: 100px;
    }
    border: 1px solid white;
  }
  .personal-details {
    margin: auto 0 auto 25px;
    @media (max-width: $mobileWidth) {
      margin-left: $mobileHorizontalMargin;
    }
    flex-shrink: 2;
  }
  h1.name {
    text-align: unset;
    margin: 0;
    @media (max-width: $tabletWidth) {
      font-size: calc(1.875em + 1vmin);
    }
    @media (max-width: $mobileWidth) {
      font-size: calc(1.5em + 1vmin);
    }
  }
  .web-link {
    word-break: break-all;
  }
  .bio-content {
    padding-bottom: 20vh;
  }
}
