@import "base/variables";
@import "base/mixins";

.nav-container {
  cursor: pointer;
  top: ($desktopVerticalMargin*2) + $desktopLogoWidth;
  position: absolute;
  z-index: 1;
  display: grid;
  grid-template-columns: auto 75px;
  grid-template-rows: repeat(3, 50px);
  grid-row-gap: 5px;
  color: #444;
  -webkit-transition: right 0.5s ease-in-out;
  -moz-transition: right 0.5s ease-in-out;
  transition: right 0.5s ease-in-out;
  right: -30vw;
  @media (max-width: $tabletWidth) {
    right: -50vw;
  }
  @media (max-width: $mobileWidth) {
    right: -85vw;
  }
  &.open {
    right: 0;
  }
  .grid-item {
    color: $lightGray;
    font-size: 200%;
    a {
      text-decoration: none;
      &:link, &:visited, &:active {
        color: $lightGray;
      }
    }
  }
  .icon {
    justify-self: center;
    text-align: center;
    grid-column: 2;
    .fa {
      &:hover {
        @include gradient-text($logoGradient);
      }
    }
  }
  .label {
    font-weight: 300;
    font-style: normal;
    justify-self: right;
    text-align: right;
    grid-column: 1;
    padding-right: 0;
    a, .internal-nav-link {
      &:hover {
        @include gradient-text($logoGradient);
      }
    }
  }
  @media (hover: none) {
    .icon .fa:hover, .label a:hover, .internal-nav-link:hover {
      @include unset-gradient-text($lightGray);
    }
  }
}
