@import "base/variables";
@import "base/mixins";

.nav-container {
  cursor: pointer;
  top: ($desktopVerticalMargin*2) + $desktopLogoWidth;
  left: 100vw;
  position: absolute;
  z-index: 1;
  display: grid;
  grid-template-columns: auto 75px;
  grid-template-rows: repeat(3, 50px);
  color: #444;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  transition: transform 0.5s;
  &.open {
    transform: translateX(-225px);
    @media (max-width: $tabletWidth) {
      transform: translateX(-205px);
    }
    @media (max-width: $mobileWidth) {
      transform: translateX(-185px);
    }
  }
  .grid-item {
    color: #fff;
    font-size: 150%;
    a {
      text-decoration: none;
      &:link, &:visited, &:active {
        color: $white;
      }
    }
  }
  .icon {
    justify-self: center;
    text-align: center;
    grid-column: 2;
    .fa {
      &:hover {
        @include gradient-text($logoGradient);
      }
    }
  }
  .label {
    font-weight: 300;
    font-style: normal;
    justify-self: right;
    text-align: right;
    grid-column: 1;
    padding-right: 0;
    a {
      &:hover {
        @include gradient-text($logoGradient);
      }
    }
  }
}
