@import "base/variables";
@import "base/mixins";

.nav-container {
  cursor: pointer;
  top: ($desktopVerticalMargin*2) + $desktopLogoWidth;
  left: 100vw;
  position: absolute;
  z-index: 1;
  display: grid;
  grid-template-columns: 75px 75px 75px;
  color: #444;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  transition: transform 0.5s;
  &.open {
    transform: translateX(-225px);
  }
  .grid-item {
    color: #fff;
    padding: 20px;
    font-size: 150%;
    a {
      text-decoration: none;
      &:link, &:visited, &:active {
        color: $white;
      }
    }
  }
  .icon {
    text-align: left;
    grid-column: 3;
    .fa {
      &:hover {
        @include gradient-text($logoGradient);
      }
    }
  }
  .label {
    font-weight: 300;
  	font-style: normal;
    text-align: right;
    grid-column: 1 / 3;
    padding-right: 0;
    a {
      &:hover {
        @include gradient-text($logoGradient);
      }
    }
  }
}
