@import 'stars';

.main {
  z-index: 0;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  overflow: hidden;

  #scene {
    height: 100vh;

    .button-layer {
      position: relative !important;
      top: auto !important;
      left: auto !important;
      width: 75%;
      margin: 0 auto;
      padding-top: 150px;
    }

    .header {
      .logo {
        pointer-events: all;
        width: 75px;
      }
    }

    .main-content {
      display: none;
      color: #ffffff;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      height: 100vh;
      pointer-events: all;
      .team-view, .music-view, .performance-view, .bio-item {
        display: none;
      }
      .back-button {
        cursor: pointer;
      }
    }
  }
}


#scene > * {
  pointer-events: none;
}

.button {
  pointer-events: all;
  flex: 1 1 auto;
  margin: 10px;
  padding: 20px;
  border: 2px solid #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow:hidden;
  transition: .3s;
  color: #ffffff;
  &:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #f7f7f7;
  }
  &:after {
    height: 120%;
    left: -10%;
    transform: skewX(15deg);
    z-index: -1;
  }
  &:hover {
    cursor: pointer;
    color: #000000;
    &:after {
      width: 100%;
      left: 0;
      color: #5bcaff;
    }
    &:after {
      left: -10%;
      width: 120%;
    }
  }
}

#splash {
  width: 255px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
  cursor: pointer;
}

#location {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#socialmedia1 {
  width: 38px;
  position: absolute;
  top: 10px;
  right: 60px;
}

#socialmedia2 {
  width: 38px;
  position: absolute;
  top: 10px;
  right: 10px;
}

@media (max-width: 625px) {
  .cover {
    img {
      width: 100%;
    }

    #location {
      width: 100%;
    }

    #splash {
      width: 50%;
      padding-top: 25%;
    }
  }
}
