.container {
  height: 200vh;
}

.overlay {
  visibility: hidden;
  @keyframes fade {
    from  { opacity: 0; }
    to    { opacity: 0.75; }
  }
  &.active {
    z-index: 0;
    background-color: black;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    visibility: visible;
    animation: fade 0.5s;
    opacity: 0.75;
  }
}

.main {
  z-index: 0;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  overflow: hidden;
  height: 100vh;
}
