@import 'stars';

.cover {
  z-index: 1;
  position: relative;
  height: 100vh;
  background-color: #333333;
  background: image-url('kepler-bg-sm.gif');
  background-size: cover;
  overflow: hidden;
}

.container {
  z-index: 0;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;

  #scene {
    height: 100vh;
  }
}

#splash {
  width: 255px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
  cursor: pointer;
}

#location {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#socialmedia1 {
  width: 38px;
  position: absolute;
  top: 10px;
  right: 60px;
}

#socialmedia2 {
  width: 38px;
  position: absolute;
  top: 10px;
  right: 10px;
}

@media (max-width: 625px) {
  img {
    width: 100%;
  }

  #location {
    width: 100%;
  }

  #splash {
    width: 50%;
    padding-top: 25%;
  }
}
